
html{
	height: 100%;
} 

body{
	margin: 0;
	height: 100%;
	background-color: whitesmoke;
}

p.prob_sol{
	color: #000000;
	font-family: "Manrope", "Century Gothic", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	line-height: 1.3;
}

.bgd_clr_1{
	background-color: #550d70;
}

.bgd_clr_2{
	background-color: #f00699;
}

.bgd_clr_3{
	background-color: #fad91a;
}

.dgd_clr_4{
	background-color: #202c8e;
}

.dgd_clr_4{
	background-color: whitesmoke;
}

.font_clr_6{
	color: darkorchid;
}

.font_clr_6{
	color: #16a5cd;
}

.font_clr_1{
	background-color: #550d70;
}

.font_clr_2{
	background-color: #f00699;
}

.font_clr_3{
	background-color: #fad91a;
}

.font_clr_4{
	background-color: #202c8e;
}

.font_clr_5{
	background-color: whitesmoke;
}

.font_clr_6{
	background-color: darkorchid;
}

.bg {
	/* The image used */
	background-image: url("../assets/images/home/CV_bg.jpg");
  
	/* Full height */
	height: 83%;
  
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

h1{
	margin: 0px;
	color: #202c8e;
	background-color: rgba(196, 184, 184, 0.5);
	text-align: center;
	font-family: "Ysabeau", "Century Gothic", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

h2{
	margin: 0px;
	padding: 4px;
	color: #202c8e;
	background-color: rgba(196, 184, 184, 0.5);
	text-align: center;
	font-family: "Manrope", "Century Gothic", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	line-height: 1.3;
}

h3{
	font-family: "Manrope", "Century Gothic", sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
	line-height: 1.3;
	font-size: 3rem;
	text-transform: uppercase;
	text-align: center;
	padding: 4px 0px 4px 0px;
  	margin: 0px;
}

h4{
	font-family: "Century Gothic", Arial, Times, serif;
	text-align: center;
	text-transform: uppercase;
	color: #202c8e;
	width: 100%;
	margin: 4px 4px 8px 4px;
}

h5{
	font-family: "Manrope", "Century Gothic", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	line-height: 1.3;
	margin: 0px;
	padding: 0px;
}

p, summary{
	font-family: "Manrope", "Century Gothic", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	line-height: 1.3;
	padding-top: 1px;
	margin-top: 0px;
	margin-bottom: 2px;
}

/* --------------------------------*/

/* fonts */

/* <weight>: Use a value from 1 to 1000 */

.ysabeau-sans-serif {
  font-family: "Ysabeau", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/* <weight>: Use a value from 200 to 800 */

.manrope-sans-serif {
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

/* <weight>: Use a value from 200 to 900 */

.inconsolata-monospace {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* <weight>: Use a value from 400 to 900 */

.playfair-display-serif {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.caveat-cursive{
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* --------------------------------*/

.index_par{
	text-align: center;	
	font-family: Arial, Times, serif;
	margin-bottom: 0px;
	padding-bottom: 4px;
}

dt{
	display: inline-block;
	padding: 4px;
	margin: 0px;
}

header{
	background-color: #550d70;
	text-align: center;
	letter-spacing: 0.25rem;
	font-size: 14px;
}

footer{
	background-color: #550d70;
	text-align: left;
	letter-spacing: 0.25rem;
	font-size: 14px;
}

.inl{
	display: inline-block;
	padding: 1px 0px 1px 0px;
	margin: 0px;
}

#signature{
	display: block;
	font-family: "Manrope", "Century Gothic", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	line-height: 1.3;
	text-align: center;
	color: whitesmoke;
	padding: 4px;
	height: 40px;
}

#contact_box{
	display: flex;
	width: 250px;
	font-family: "Manrope", "Century Gothic", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	line-height: 1.3;
	color: #FFFFFF;
	padding-left: 8px;
	height: 70px;
}

nav.con{
	background-color: #550d70;
	display: flex;
	text-align: center;
	height: 38px;
}

a.nv_con{
	text-transform: uppercase;
	text-align: center;
	font-family: "Manrope", "Century Gothic", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	line-height: 1.3;
}

a.nv_con:link{
	color: #fad91a;
	background-color: #550d70;
	text-align: center;
}
a.nv_con:visited{
	color: #fad91a;
	background-color: #550d70;
}
a.nv_con:hover, a.nv_con:focus{
	background-color: #550d70;
	color: #fad81ab0;
}

a.nv_con:active{
	color: #FFFFFF;
	background-color: #550d70;
}

#contact{
	margin: 8px;
	color: #FFFFFF;
}

#contact_icon_1{
	float: left;
	padding: 3px;
	margin: 2px 2px 2px 8px;	
}

#contact_icon_2{
	float: left;
	padding: 3px;
	margin: 2px;
}

main{
	color: #550d70;
	background-color: rgb(245, 245, 245);
}

.flex-container{
	display: flex;
	justify-content: center;
	width: 100%;
}

.container-main{
	justify-content: center;
	max-width: 820px;
	margin: auto;
	align-content: center;
}

.main-float-item{
	width: 100%;
	text-align: left;
}

.main-float-item-2{
	max-width: 100%;
	text-align: justify;
}

.about-item-1{
	display: none;
	grid-area: banner_left;
  	margin: 0px 0.5% 0px 0.5%;
  	width: 200px;
  	justify-self: right;
}

dd{
	margin-left: 0px;
	margin-bottom: 5px;
}

dt{
	margin-top: 8px;
}

.location{
	margin: 4px 4px 4px 0px;
	color: #202c8e;
}

.about-item-3{
	display: none;
	grid-area:	banner_right;
  	margin: 0px 0.5% 0px 0.5%;
  	width: 200px;
  	justify-self: left;
}



#tech_skills, #prog{
	text-align: center;
}

@media screen and (max-width:1250px) {
	.container-main{
		max-width: 800px;
	}
  	.cont_hide{
  		display: none;
  	}	
	#pub{
		margin-left: 0px;
	}
}

@media screen and (max-width: 700px) {
	.container-main{
		max-width: 96%;
	}
	nav.top{   
	  flex-direction: column;
	  text-align: center;
	}
	#pub{
		margin-left: 0px;
	}
}

.table-main{
	display: block;
}


.sect{
	font-family: "Manrope", "Century Gothic", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	line-height: 1.3;
	font-size: 1.2rem;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 4px;
	margin-right: 4px;
	border-radius: 25px;
	padding: 10px;
	overflow: inherit;
	height: 100%;
	color: black;
}

#hobbies_list{
	padding-bottom: 8px;
	margin-bottom: 0px;
	text-align: center;
}

/* --------------------------------*/

/* navigation bar */

nav.top{
	background-color: #550d70;
	display: flex;
	text-align: center;
}

ul.min{
	list-style: none;
	padding-left: 23px;
	margin: 0;
	padding: 0;
}

a.nv{
	text-transform: uppercase;
	text-align: center;
	font-family: "Manrope", "Century Gothic", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	line-height: 1.3;
	padding: 10px;
	margin: 0px;
	margin: 0px;
}

a.nv:link{
	color: whitesmoke;
	background-color: #550d70;
	text-align: center;
}
a.nv:visited{
	color: whitesmoke;
	background-color: #550d70;
}
a.nv:hover, a.nv:focus{
	color: #16a5cd;
	background-color: #560d70;
}

a.nv:active{
	color: #560d70;
	background-color: whitesmoke;
}

a{
	text-decoration: none;	
}

/* -------------------------------------*/

/* experience */

#exp_page{
	width: 100%;
}

.cen_ver{
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}

.marg{
	margin: 4px;
}

.marg_top{
	margin-top: 10px;
}

#pub{
	text-align: justify;
	align-self: center;
}

/* -------------------------------------*/

/* figures */

figure{
	text-align: center;
}

/* -------------------------------------*/

/* tables */

table{
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	margin: 2px;
}

.skills_table{
	max-width: 550px;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

th{
	font-size: 1.3rem;
	color: whitesmoke;
	font-weight: 100;
	background-color: #202c8e;
	border-bottom: 2px solid #fad91a;
	font-family: "Manrope", "Century Gothic", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	line-height: 1.3;
	text-transform: uppercase;
	text-align: center;
}

td{
	border-bottom: 2px solid #550d70;
	padding: 3px;
}

.table_list{
	text-decoration: none;
	align-content: top;
	margin-top:0px;
	margin-left:0px;
	padding-left: 0px;
	padding-top: 0px;
}

.textlink{
	color: rgb(255,255,255);
	background-color: rgb(0,12,200);
	font-family: "Manrope", "Century Gothic", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	line-height: 1.3;
	display: block;
	text-align: center;	
}



.li-main::before{
	content: url('../assets/images/circle-arrow.svg');
	text-align: unset;
	padding-left: -1025px;
}

.li-main{
	display: flex;
}

a.tbl_lnk:link{
	margin: 0px;
	font-weight: 600;
	display: inline-block;
	padding: 10px;
	border: 0px;
	color: #202c8e;
}
a.tbl_lnk:visited{
	margin: 0px;
	display: inline-block;
	border: 0px;
	color: #595959;
}
a.tbl_lnk:hover{
	display: block;
	color: #16a5cd;
	margin: 0px;
}
a.tbl_lnk:active{
	display: block;
	color: #16a5cd;
	margin: 0px;
}

a.tbl_lnk{
	text-transform: capitalize;
	width: 100%;
}

#cert_table{
	table-layout:auto;
	width: 100%;	
}

.proj_table{
	font-family: "Manrope", "Century Gothic", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	line-height: 1.3;
	border-collapse: collapse;
	width: 100%;
	margin: 0px;
	margin-bottom: 10px;
	text-align: justify;
}

/*-----------------------------------------*/

/* about page */

.grid-container-about{
	text-align: center;
	vertical-align: top;
  	padding: 5px;
  	padding-top: 8px;
}

#selfie{
	display: inline-block;
		text-align: center;
  		margin-top: 8px;
  		width: 300px;
}

#about{
	display: inline-block;
	text-align: justify;
	max-width: 300px;
	color: #000000;
	font-family: "Manrope", "Century Gothic", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	line-height: 1.3;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 4px;
	overflow: inherit;
	vertical-align: top;
}

@media screen and (max-width:600px) {
 	.about-item-2{
    	width: 100%;
		padding-left: 0px;
		padding-right: 0px;
  }
	.about-item-1, .about-item-3{
    display: none;
  }
}

.orange{
	color: #D6742B;
}


/*-----------------------------------------*/

/* projects page */

.grid-container-projects{
	display: grid;
}

.projects-item-1{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-start: 3;  	
}

.projects-item-2{
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-start: 2;
}

.projects-item-3{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-start: 3;
}

.projects-item-4{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-start: 3;  	
}

@media screen and (max-width:1400px) {
	.grid-container-projects{
		grid-template-columns: 10% auto 10%;
	}

 	.projects-item-3{
    width: 100%;
	padding-left: 0px;
	padding-right: 3px;
  }

	.projects-item-1, .projects-item-4{
    display: none;
  } 
}

@media screen and (max-width:1050px) {
	.grid-container-projects{
		grid-template-columns: auto auto auto;
	}


	.projects-item-3{
		padding-left: 1.5px;
		padding-right: 1.5px;
		}

	.flex-container{
		flex-wrap: wrap;
		text-align: center;
	}

	.flex-container-main{
		flex-wrap: wrap;
		text-align: left;
	}

	.blck_txt{
		margin: 5px;
		max-width: 250px;
	}

	.proj_title{
		max-width: 250px;
	}

}

@media screen and (max-width:700px) {
	.grid-container-projects{
		grid-template-columns: auto 100% auto;
	}	
}

.blck_txt{
	height: 200px;
	max-width: 350px;
	text-align: center;
}

.blck_img_white{
	height: 300px;
	width: 400px;

	text-align: center;
	margin: 10px;
}

.blck_img_black{
	height: 200px;
	width: 250px;
	background-color:black;
	text-align: center;
	margin: 10px;
}

/* divs */

.resp{
	width: 100%;
	max-width: 300px;
	height: auto;
}

.resp_sm{
	width: 100%;
	max-width: 150px;
	height: auto;
}

.proj_img{
	float: left;
	text-align: center;
}

.prj{
	display: inline-block;
	height: 100%;
	width: 100%;
	vertical-align: middle;
}



.proj_title{
	clear: right;
	max-width: 350px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.proj_txt{
	float: left;
	margin-left: 6px;
	margin-right: 2px;
	max-width: 300px;
	letter-spacing: 0.15rem;
	text-align: justify;
}

.container {
	position: relative;
	height: 300px;
	width: 400px;
	background-color:white;
	margin: 10px;
  }

.container_black {
	position: relative;
	height: 300px;
	width: 400px;
	background-color:black;
	margin: 10px;
}
  
  /* Make the image to responsive */
  .image {
	display: block;
	width: 290px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
  }
  
  .image_black {
	display: block;
	width: auto;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
  }
  
  .overlay {
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5); 
	width: 100%;
	transition: .5s ease;
	opacity:0;
	color: white;
	font-size: 20px;
	padding: 20px;
	text-align: center;
	font-family: "Manrope", "Century Gothic", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	line-height: 1.3;
  }
  
  .container:hover .overlay {
	opacity: 1;
  }

  .container_black:hover .overlay {
	opacity: 1;
  }

/* ----------------*/

.bord_bot{
	border-bottom: 1px solid #000000;
}

#lang{
	display: flex;
	max-width: 550px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.div13{
	width: 33.3%;
}

ul.classic_list{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.descr{
	font-family: "Manrope", "Century Gothic", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	line-height: 1.3;
	text-align: justify;
}

.proj{
	font-family: "Manrope", "Century Gothic", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	line-height: 1.3;
	padding-left: 4px;
	padding-right: 4px;
}



.sem{
	padding-left: 4px;
	padding-right: 4px;
}
.sem4{
	text-align: center;
}

/*-----------------------------------------*/

* {
  box-sizing: border-box;
}

/*-----------------------------------------*/

ol.swarm_list{
	font-family: "Manrope", "Century Gothic", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	line-height: 1.3;
	list-style-type: upper-alpha;
	text-align: justify;
}

ol.swarm_list_2nd{
	font-family: "Manrope", "Century Gothic", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	line-height: 1.3;
	color: #202c8e;
	text-align: justify;
}

.prob{
	color: #202c8e;
}

.li_2nd{
	margin-top: 8px;
}

.code_b{
	display: flex;
}

.eq{
	text-align: center;
}

.left{
	float: left;
}

.right{
	float: right;
}