
html{
	height: 100%;
} 

body{
	margin: 0;
	height: 100%;
}

.bg {
	/* The image used */
	background-image: url("../assets/images/home/CV_bg.jpg");
  
	/* Full height */
	height: 50%;
  
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

h1{
	margin: 0px;
	color: rgb(255,255,255);
	background-color: rgba(196, 184, 184, 0.3);
	text-align: center;
	font-family: "Century Gothic", Arial, Times, sans-serif;
}

h2{
	margin: 0px;
	padding: 4px;
	color: rgb(255,255,255);
	background-color: rgba(196, 184, 184, 0.3);
	text-align: center;
	font-family: "Century Gothic", Arial, Times, serif;
}

h3{
	font-family: "Century Gothic", Arial, Times;
	font-size: 150%;
	text-transform: uppercase;
	text-align: center;
	clear: left;
  	border-bottom: 1px solid black;
	background-color: rgba(114, 110, 110, 0.3);
	padding: 4px 0px 4px 0px;
  	margin: 0px;
}

h4{
	font-family: "Century Gothic", Arial, Times, serif;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	margin: 4px 4px 8px 4px;
}

h5{
	font-family: "Century Gothic", Arial, Times, serif;
	margin: 0px;
	padding: 0px;
}

p, summary{
	font-family: "Century Gothic", Arial, Times, serif;
	padding-top: 1px;
	margin-top: 0px;
	margin-bottom: 2px;
}

.index_par{
	text-align: center;	
	font-family: Arial, Times, serif;
	margin-bottom: 0px;
	padding-bottom: 4px;
}

date{
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

header{
	background-color: #1F1000;
	text-align: center;
	letter-spacing: 0.25rem;
	font-size: 14px;
}

footer{
	background-color: #1F1000;
	text-align: left;
	letter-spacing: 0.25rem;
	font-size: 14px;
}

.inl{
	display: inline-block;
	padding: 1px 0px 1px 0px;
	margin: 0px;
}

#signature{
	display: block;
	font-family: "Century Gothic", Arial, Times, serif;
	text-align: center;
	color: #D6742B;
	padding: 4px;
	height: 40px;
}

#contact_box{
	display: flex;
	width: 250px;
	font-family: "Century Gothic", Arial, Times, serif;
	color: #FFFFFF;
	padding-left: 8px;
	height: 70px;
}

nav.con{
	background-color: #1F1000;
	display: flex;
	text-align: center;
	height: 38px;
}

a.nv_con{
	text-transform: uppercase;
	text-align: center;
	font-family: "Century Gothic", Arial, Times, serif;
}

a.nv_con:link{
	color: #D6742B;
	background-color: #1F1000;
	text-align: center;
}
a.nv_con:visited{
	color: #fd9d02;
	background-color: #1F1000;
}
a.nv_con:hover, a.nv:focus{
	background-color: #1F1000;
	color: #e27827;
}

a.nv_con:active{
	color: #FFFFFF;
	background-color: #000000;
}

#contact{
	margin: 8px;
	color: #FFFFFF;
}

#contact_icon_1{
	float: left;
	padding: 3px;
	margin: 2px 2px 2px 8px;	
}

#contact_icon_2{
	float: left;
	padding: 3px;
	margin: 2px;
}

main{
	margin: 0;
	background-image: linear-gradient(rgb(253, 171, 55), rgb(253, 220, 55));
}

.flex-container{
	display: flex;
	justify-content: center;
	width: 100%;
}

.grid-container-main{
	display: grid;
	gap: 0.5px;
	grid-template-columns: 25% auto 25%;

}

.about-item-1{
	display: none;
	grid-area:	banner_left;
  	margin: 0px 0.5% 0px 0.5%;
  	width: 200px;
  	justify-self: right;
}

.main-item-1{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}

.main-item-2{
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
}

.main-item-3{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

.main-item-4{
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
}

.main-item-5{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;
}

.main-item-6{
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 5;
	grid-row-end: 6;
}

.main-item-7{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 6;
	grid-row-end: 7;
}

.main-item-8{
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 7;
	grid-row-end: 8;
}

.main-item-9{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 8;
	grid-row-end: 9;
}

.main-item-10{
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 9;
	grid-row-end: 10;
}

.main-item-11{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 10;
	grid-row-end: 11;
}

.main-item-12{
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 11;
	grid-row-end: 12;
}

.main-item-13{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 12;
	grid-row-end: 13;
}

.main-item-14{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
}

.about-item-3{
	display: none;
	grid-area:	banner_right;
  	margin: 0px 0.5% 0px 0.5%;
  	width: 200px;
  	justify-self: left;
}



#tech_skills, #prog{
	text-align: center;
}

@media screen and (max-width:1250px) {
	.grid-container-main{
		grid-template-columns: 10% auto 10%;
	}
  	.cont_hide{
  		display: none;
  	}	
}

@media screen and (max-width: 700px) {
	.grid-container-main{
		grid-template-columns: 0% 100% 0%;
	}
	nav.top{   
	  flex-direction: column;
	  text-align: center;
	}
}

.table-main{
	display: block;
}


.sect{
	font-family: "Century Gothic", Arial, Times, serif;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 4px;
	margin-right: 4px;
	border-radius: 25px;
	padding: 10px;
	overflow: inherit;
	height: 100%;
}

#hobbies_list{
	padding-bottom: 8px;
	margin-bottom: 0px;
	text-align: center;
}

/* --------------------------------*/

/* navigation bar */

nav.top{
	background-color: #1F1000;
	display: flex;
	text-align: center;
}

ul.min{
	list-style-image: url('../assets/images/circle-arrow.svg');
	list-style-type: circle;
}

a.nv{
	text-transform: uppercase;
	text-align: center;
	font-family: "Century Gothic", Arial, Times, serif;
	padding: 10px;
	margin: 0px;
	margin: 0px;
}

a.nv:link{
	color: #D6742B;
	background-color: #1F1000;
	text-align: center;
}
a.nv:visited{
	color: #fd9d02;
	background-color: #1F1000;
}
a.nv:hover, a.nv:focus{
	background-color: #D6742B;
	color: #1F1000;
}

a.nv:active{
	color: #FFFFFF;
	background-color: #000000;
}

a{
	text-decoration: none;	
}

/* -------------------------------------*/

/* experience */

.cen_ver{
	display: table-cell;
	vertical-align: middle;
}

.marg{
	margin: 4px;
}

.marg_top{
	margin-top: 10px;
}
/* experience */

#pub{
	text-align: justify;
	max-width: 500px;
}

/* -------------------------------------*/

/* figures */

figure{
	text-align: center;
}

/* -------------------------------------*/

/* tables */

table{
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid rgb(0, 0, 0);
	margin: 2px;
}

.skills_table{
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

th{
	font-size: 120%;
	color: #D6742B;
	background-color: rgba(0, 0, 0, 1);
	border-bottom: 1px solid #000000;
	border-collapse: collapse;
	font-family: "Century Gothic", Arial, Times, serif;
	text-transform: uppercase;
	text-align: center;
}

td{
	border: 1px solid #000000;
	border-collapse: collapse;
}

.table_list{
	text-decoration: none;
	align-content: top;
	margin-top:0px;
	margin-left:0px;
	padding-left: 0px;
	padding-top: 0px;
}

.textlink{
	color: rgb(255,255,255);
	background-color: rgb(0,12,200);
	font-family: "Century Gothic", Arial, Times, serif;
	display: block;
	text-align: center;	
}

td.link_cell{
	background-color: rgba(114, 110, 110, 0.3);
}

a.tbl_lnk:link{
	margin: 0px;
	font-weight: 200;
	display: inline-block;
	padding: 10px;
	border: 0px;
	color: #000000;
	background-color: rgba(114, 110, 110, 0.2);
}
a.tbl_lnk:visited{
	margin: 0px;
	display: inline-block;
	border: 0px;
	color: #595959;
	background-color: rgba(114, 110, 110, 0.2);
}
a.tbl_lnk:hover, a.nv:focus{
	display: block;
	color: #D6742B;
	margin: 0px;
}
a.tbl_lnk:active{
	display: block;
	color: #FFFFFF;
	margin: 0px;
}

a.tbl_lnk{
	text-transform: capitalize;
	width: 100%;
}

#cert_table{
	table-layout:auto;
	width: 100%;	
}

.proj_table{
	font-family: Arial, Times, serif;
	border-collapse: collapse;
	width: 100%;
	margin: 0px;
	margin-bottom: 10px;
	text-align: justify;
}

/*-----------------------------------------*/

/* about page */

.grid-container-about{
	text-align:center;
	vertical-align: top;
  	padding: 5px;
  	padding-top: 8px;
}

#selfie{
	display: inline-block;
		text-align: center;
	  	margin-top: 8px;
	  	width: 300px;
}

#about{
	display: inline-block;
	text-align: justify;
	max-width: 300px;
	font-family: Arial, Times, serif;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 4px;
	overflow: inherit;
	vertical-align: top;
}

@media screen and (max-width:600px) {
 	.about-item-2{
    	width: 100%;
		padding-left: 0px;
		padding-right: 0px;
  }
	.about-item-1, .about-item-3{
    display: none;
  }
}

.orange{
	color: #D6742B;
}


/*-----------------------------------------*/

/* projects page */

.grid-container-projects{
	display: grid;
}

.projects-item-1{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-start: 3;  	
}

.projects-item-2{
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-start: 2;
}

.projects-item-3{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-start: 3;
}

.projects-item-4{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-start: 3;  	
}

@media screen and (max-width:1400px) {
	.grid-container-projects{
		grid-template-columns: 10% auto 10%;
	}

 	.projects-item-3{
    width: 100%;
	padding-left: 0px;
	padding-right: 3px;
  }

	.projects-item-1, .projects-item-4{
    display: none;
  } 
}

@media screen and (max-width:1050px) {
	.grid-container-projects{
		grid-template-columns: auto auto auto;
	}

	.flex-container{
		flex-direction: column;
		justify-content: center;
	}

	.projects-item-3{
	width: 100%;
	padding-left: 0px;
	padding-right: 3px;
	}

	.blck_txt{
		margin: 5px;
		max-width: 250px;
	}

	.proj_title{
		max-width: 250px;
	}

}

@media screen and (max-width:700px) {
	.grid-container-projects{
		grid-template-columns: auto 100% auto;
	}	
}

.blck_txt{
	height: 200px;
	max-width: 350px;
	margin: 10px 30px;
	text-align: center;
}

.blck_img{
	height: 200px;
	width: 300px;
	margin: 10px 55px;
	text-align: center;
}
.proj_box{
	clear:both;
	justify-self: center;
}

/* divs */

.resp {
	width: 100%;
	max-width: 300px;
	height: auto;
}

.resp_sm {
	width: 100%;
	max-width: 150px;
	height: auto;
}

.proj_img{
	float: left;
	text-align: center;
	margin: 10px;
}

.prj{
	display: inline-block;
	padding-top: 25px;
	height: 100%;
	vertical-align: middle;
}



.proj_title{
	clear: right;
	max-width: 350px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.proj_txt{
	float: left;
	margin-left: 6px;
	margin-right: 2px;
	max-width: 400px;
	letter-spacing: 0.15rem;
	text-align: justify;
}

/* ----------------*/

.bord_bot{
	border-bottom: 1px solid #000000;
}

#lang{
	display: flex;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.div13{
	width: 33.3%;
}

ul.classic_list{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.descr{
	font-family: Courier, Arial, Times;	
	text-align: justify;
}

.proj{
	font-family: Courier, Arial, Times;
	padding-left: 4px;
	padding-right: 4px;
}



.sem{
	padding-left: 4px;
	padding-right: 4px;
}
.sem4{
	text-align: center;
}

/*-----------------------------------------*/

* {
  box-sizing: border-box;
}

/*-----------------------------------------*/

ol.swarm_list{
	list-style-type: upper-alpha;
	text-align: justify;
}

ol.swarm_list_2nd{
	text-align: justify;
}

.li_2nd{
	margin-top: 8px;
}

.code_b{
	display: flex;
}

.eq{
	text-align: center;
}

.left{
	float: left;
}

.right{
	float: right;
}